span.grip-handle {
  color: #cccccc;
  content: '....';
  cursor: move;
  display: inline-block;
  font-size: 12px;
  font-family: sans-serif;
  height: 25px;
  letter-spacing: 2px;
  line-height: 5px;
  overflow: hidden;
  padding-bottom: 2px;
  text-shadow: 1px 0 1px black;
  vertical-align: middle;
  width: 10px;

  &::after {
    content: '.. .. .. ..';
  }
}
